## **Importando Biblioteca e Carregando Arquivo**

In [ ]:
import pandas as pd

#Importando o arquivo e definir variável com caminho do arquivo
arquivo = 'http://www.harve.com.br/praticas/dados_etl.csv'
#carregar em um df do pandas com comando read_csv
df = pd.read_csv(arquivo, sep = '\t')
df.head()

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

## **Verificando e Conhecendo o Arquivo**

In [ ]:
#Fazer prints de funções que ajudam a visualizar e entender o data frame (shape, info()/dtypes, head(), describe())
print(df.shape) #formato do arquivo (linhas, colunas)
print(df.info()) # colunas e tipos de dados
print(df.head()) #primeiras 5 linhas
print(df.describe()) # estatísticas descritivas

(2240, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Client ID            2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None
   Client ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0       5524        1957  Graduation         Single  58138.0        0
1       2174        1954  Graduation         Single  46344.0        1
2       4141        1965  Graduation       Together  71613.0        0
3       6182        1984  Graduation       Together  26646.0        1
4       5324        1981         PhD        Married  58293.0        1

   Teenhome Dt Customer  Recency  MntWines  ...  NumWebVisitsMonth  \
0         0  04-09-2012       58       635  ...                  7
1         1  08-03-2014       38        11  ...                  5
2         0  21-08-2013       26       426  ...                  4
3         0  10-02-2014       26        11  ...                  6
4         0  19-01-2014       94       173  ...                  5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Z_CostContact  Z_Revenue  Response
0         0              3         11         1
1         0              3         11         0
2         0              3         11         0
3         0              3         11         0
4         0              3         11         0

[5 rows x 29 columns]
          Client ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2240.000000  ...        2240.000000   2240.000000   2240.000000
mean         37.525446  ...           5.316518      0.072768      0.074554
std          54.628979  ...           2.426645      0.259813      0.262728
min           0.000000  ...           0.000000      0.000000      0.000000
25%           3.000000  ...           3.000000      0.000000      0.000000
50%          12.000000  ...           6.000000      0.000000      0.000000
75%          50.000000  ...           7.000000      0.000000      0.000000
max         259.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000         2240.0
mean       0.072768      0.064286      0.013393     0.009375            3.0
std        0.259813      0.245316      0.114976     0.096391            0.0
min        0.000000      0.000000      0.000000     0.000000            3.0
25%        0.000000      0.000000      0.000000     0.000000            3.0
50%        0.000000      0.000000      0.000000     0.000000            3.0
75%        0.000000      0.000000      0.000000     0.000000            3.0
max        1.000000      1.000000      1.000000     1.000000            3.0

       Z_Revenue     Response
count     2240.0  2240.000000
mean        11.0     0.149107
std          0.0     0.356274
min         11.0     0.000000
25%         11.0     0.000000
50%         11.0     0.000000
75%         11.0     0.000000
max         11.0     1.000000

[8 rows x 26 columns]

## **Criando Colunas e Fazendo Cálculos**

In [ ]:
#Calcular idade dos clientes, total de filhos e quantidade de itens vendidos
df['Age'] = 2025 - df['Year_Birth']

df['Total_Children'] = df['Kidhome'] + df['Teenhome']
df['Total_Purchases'] = df['NumDealsPurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']
df['Total_Items'] = df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds']

#Criar data frame somente com clientes acima de 50 anos
df_50 = df[df['Age'] > 50]
df_50.head()

Education
Graduation    0.503125
PhD           0.216964
Master        0.165179
2n Cycle      0.090625
Basic         0.024107
Name: proportion, dtype: float64
Education
Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: count, dtype: int64

## **Classificando Variáveis**

In [ ]:
#Criar mapeamento para renda dos clientes (20k = low, 40k = medium, 60k = high, very high)
def class_income(income):
  if income <= 20000:
    return 'Low'
  elif income <= 40000:
    return 'Medium'
  elif income <= 60000:
    return 'High'
  else:
    return 'Very High'

#Adicionar coluna para classificar renda
df['Class_Income'] = df['Income'].apply(lambda x: class_income(x))

#Criar mapeamento de nível educacional (Basic, 2nCycle = low, Graduation = mid, Master, PhD = high)
df['Education'].value_counts()
ensino_dict = {
    'Basic': 'low',
    '2n Cycle': 'Low',
    'Graduation': 'Medium',
    'Master': 'High',
    'PhD': 'High'
}

#Adicionar coluna para classificar nível educacional
df['Class_Education'] = df['Education'].apply(lambda x: ensino_dict[x]) #opção 1
df['Class_Education_2'] = df['Education'].map(ensino_dict) #opção 2

df.head()

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,Z_CostContact,Z_Revenue,Response,Age,Total_Children,Total_Purchases,Total_Items,Class_Education,Class_Education_2,Class_Income
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,3,11,1,68,0,25,1617,Medium,Medium,High
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,3,11,0,71,2,6,27,Medium,Medium,High
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,3,11,0,60,0,21,776,Medium,Medium,Very High
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,3,11,0,41,1,8,53,Medium,Medium,Medium
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,11,0,44,1,19,422,High,High,High

## **Identificando Quantidade de Nulos**

In [ ]:
#Verificando quantidade de nulos
df.isna().sum()
#Criar df copia para excluir valores nulos
df2 = df.copy()
#Excluir entradas com valores nulos
df2 = df2.dropna()
#Substituir os NAs por média
df['Income'] = df['Income'].fillna(df['Income'].mean()) #median() -> substituir pela mediana mode() -> substituir pela moda
print(df.isna().sum())

Client ID              0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
Age                    0
Total_Children         0
Total_Purchases        0
Total_Items            0
Class_Education        0
Class_Education_2      0
Class_Income           0
dtype: int64

## **Se Conectando a uma API**

In [ ]:
#Passo 1: importando a biblioteca REQUESTS (comunicação com páginas e aplicações web), JSON (utilização para manipular esse tipo de arquivos) e pandas
import requests as r
import json
import pandas as pd

#Passo 2: Montando as variáveis para a URL completa
base_url = 'https://restcountries.com/v3.1' #endereço raíz da api
endpoint = '/name/' #rota específica da API (endpoint)
pais = 'brazil' #parâmetro de rota: nome do país que queremos consultar
params = '?fields=name,capital,population,gini,cca3,subregion' #parâmetros de filtro: campos que queremos receber na resposta (filtro do JSON)

#Passo 3: construindo a URL completa da requisição
url = base_url + endpoint + pais + params
print("URL Final:",url) #verificando qual foi a url final

URL Final: https://restcountries.com/v3.1/name/brazil?fields=name,capital,population,gini,cca3,subregion

## **Fazendo uma Requisição e Verificando o Output**

In [ ]:
#Passo 4: Criando requisição e verificando resposta
resposta = r.get(url) #enviando a requisição GET e salvando a resposta
print("Status Code:",resposta.status_code) #verificando status da requisição 200 = sucesso

Status Code: 200

In [ ]:
#Passo 5: verificando e conhecendo o output
data = resposta.json() #salvando o output da requisição em uma variável
print("Verificando header", resposta.headers, '\n') # metadados da requisição, pode conter informações relevantes como o tipo de arquivo que recebemos
print(resposta.text, '\n') #Exibe a resposta bruta da API como string (texto puro)
print('chaves do arquivo', data[0].keys(), '\n') #Visualiza as chaves (campos) do primeiro registro do JSON
print(data[0], '\n') #Mostra o conteúdo completo do primeiro item da resposta
print(json.dumps(resposta.json(), indent=2, ensure_ascii=False)) #ver o conteúdo formatado da resposta
for chave, valor in data[0].items(): #Percorre todas as chaves e valores do primeiro país retornado
    print(chave, "--", valor)

Verificando header {'Server': 'nginx/1.22.1', 'Date': 'Thu, 10 Jul 2025 14:50:39 GMT', 'Content-Type': 'application/json', 'Content-Length': '268', 'Connection': 'keep-alive', 'Cache-Control': 'public, immutable, max-age=31556926'}

[{"name":{"common":"Brazil","official":"Federative Republic of Brazil","nativeName":{"por":{"official":"República Federativa do Brasil","common":"Brasil"}}},"cca3":"BRA","capital":["Brasília"],"subregion":"South America","population":212559409,"gini":{"2019":53.4}}]

[
  {
    "name": {
      "common": "Brazil",
      "official": "Federative Republic of Brazil",
      "nativeName": {
        "por": {
          "official": "República Federativa do Brasil",
          "common": "Brasil"
        }
      }
    },
    "cca3": "BRA",
    "capital": [
      "Brasília"
    ],
    "subregion": "South America",
    "population": 212559409,
    "gini": {
      "2019": 53.4
    }
  }
]
chaves do arquivo dict_keys(['name', 'cca3', 'capital', 'subregion', 'population', 'gini'])

{'name': {'common': 'Brazil', 'official': 'Federative Republic of Brazil', 'nativeName': {'por': {'official': 'República Federativa do Brasil', 'common': 'Brasil'}}}, 'cca3': 'BRA', 'capital': ['Brasília'], 'subregion': 'South America', 'population': 212559409, 'gini': {'2019': 53.4}}

name -- {'common': 'Brazil', 'official': 'Federative Republic of Brazil', 'nativeName': {'por': {'official': 'República Federativa do Brasil', 'common': 'Brasil'}}}
cca3 -- BRA
capital -- ['Brasília']
subregion -- South America
population -- 212559409
gini -- {'2019': 53.4}

## **Adicionando o Arquivo em um Data Frame**

In [ ]:
#Passo 6: trazer as informações que queremos para formato de tabela/data frame
df = pd.DataFrame([{
    'nomeComum': data[0].get('name', {}).get('common', 'NA'),   #Acessa o nome comum do país
    'capital': data[0].get('capital', "NA")[0], #A capital é armazenada em uma lista, então acessamos o primeiro item com [0]. Usamos .get() com valor padrão ["N/A"] para evitar erro caso o campo não exista.
    'populacao' : data[0].get('population', 0), #Acessa a população, ou 0 se não existir
    'gini': data[0].get('gini', {}).get('2019', 0), #Acessa o índice GINI, ou 0 se não existir
    'sigla': data[0].get('cca3', 'N/A'), #Acessa a sigla do país, ou "N/A" se não existir
    'subregiao': data[0].get('subregion', 'N/A')
 }])

print(df)

     nome   capital  populacao  gini sigla      subregiao
0  Brazil  Brasília  212559409  53.4   BRA  South America

## **Manipulando o Arquivo**

In [ ]:
# Como acessamos o campo nome comum do país?
print(data[0]['name']['common'])  # Acessamos o primeiro item da lista (data[0]), depois a chave 'name' (que é um dicionário),e dentro dela, a chave 'common' que traz o nome mais comum do país (ex: "Brasil")

# Qual a chave que representa a capital?
print(data[0]['capital'])         # A chave 'capital' contém uma lista com as capitais do país (geralmente uma só)
print(data[0]['capital'][0])      # Usamos [0] para acessar a primeira capital da lista (ex: "Brasília")

# Como acessar o nome nativo oficial em português?
print(data[0]['name']['nativeName']['por']['official'])  # Acessamos o dicionário 'nativeName', depois a chave 'por'(abreviação de português), e em seguida 'official' para obter o nome oficial do país nesse idioma

# Qual o valor populacional retornado?
print(data[0]['population'])      # A chave 'population' traz o número de habitantes do país como um inteiro

# Em qual chave está localizada a sigla de 3 letras do país?
print(data[0]['cca3'])            # A chave 'cca3' retorna o código ISO alpha-3 do país (ex: "BRA" para o Brasil)

# Qual valor representa o índice de Gini de 2019?
print(data[0]['gini']['2019'])    # O índice de Gini está em um dicionário com o ano como chave. Aqui acessamos diretamente o valor de 2019

# Em qual chave está a sub-região do país?
print(data[0]['subregion'])       # A chave 'subregion' traz o nome da sub-região geográfica do país (ex: "South America")

Brazil
['Brasília']
Brasília
República Federativa do Brasil
212559409
BRA
53.4
South America

## **Trabalhando com Datas (SEM PANDAS)**

In [ ]:
from datetime import datetime, timedelta, date  # Importa classes para manipulação de datas

agora_local = datetime.now() # Captura o momento atual na hora local
agora_utc = datetime.utcnow() # Captura o momento atual em UTC

# Extrai partes específicas da data/hora atual usando strftime:
agora_segundos = int(agora_local.strftime("%s")) # %s: timestamp em segundos desde 1970-01-01
agora_segundos_2 = agora_local.timestamp() # opção mais segura utiliza método que não é de formatação de string
agora_hora = int(agora_local.strftime("%H")) # %H: hora (formato 24h)
agora_dia = int(agora_local.strftime("%d")) # %d: dia do mês
agora_mes = int(agora_local.strftime("%m")) # %m: mês (com dois dígitos)

# Exibe os valores extraídos
print("Segundos desde 1970:", agora_segundos)
print("Segundos desde 1970:", agora_segundos_2)
print("Hora:", agora_hora)
print("Dia:", agora_dia)
print("Mês:", agora_mes)

milissegundos = agora_segundos * 1000 # Converte segundos em milissegundos
print("Milissegundos:", milissegundos)
print("Convertido de volta para datetime:", datetime.fromtimestamp(milissegundos / 1000)) # Converte o timestamp de volta para um datetime (dividido por 1000 para voltar aos segundos)

utc_ts = 1672531200 #valor em timestamp para uma data específica no tempo
hora_utc = datetime.utcfromtimestamp(utc_ts) #transformando timestamp em datetime em UTC
print('Hora UTC:' ,hora_utc) #visualizando o timestamp em formato datetime

Segundos desde 1970: 1752599776
Segundos desde 1970: 1752599776.056204
Hora: 17
Dia: 15
Mês: 7
Milissegundos: 1752599776000
Convertido de volta para datetime: 2025-07-15 17:16:16
Hora UTC: 2023-01-01 00:00:00

## **Trabalhando com Datas (COM PANDAS)**

In [ ]:
import pandas as pd  # Importando a biblioteca pandas

pd.Timestamp.now() #equivalente ao datetime.now()


arquivo = 'https://drive.google.com/uc?id=1Cmi7ChwivaFO5C9qNM1G8oQ-hk1RORgt'  #Nome do arquivo CSV contendo os dados
df = pd.read_csv(arquivo)  #Lendo o arquivo CSV e criando o DataFrame
#print(df.head())  #Visualizando as primeiras linhas do DataFrame para conferir a leitura dos dados

#Transformando timestamp em datetime
df['data'] = pd.to_datetime(df['concluido_ts'], unit='ms')  #to_datetime equivale ao utcfromtimestamp()

#Formatando a data para o formato dia/mês/ano (dd/mm/yyyy)
df['data_formatada'] = df['data'].dt.strftime('%d/%m/%Y') #.dt acessa os métodos de datetime da coluna
                                                          #e strftime define o formato da string resultante

df['dias_desde_compra'] = pd.Timestamp.now() - df['data'] #Exemplo de subtração de datas (equivalente ao datetime - datetime)
                                                          #retorna uma coluna tipo timedelta64

df['tempo_para_inativar'] = df['data'] + pd.Timedelta(days=90) #Exemplo de adição de dias (equivalente ao datetime + timedelta)

#Extraindo partes (componentes) da data com pandas
df['ano'] = df['data'].dt.year #extrai ano
df['mes'] = df['data'].dt.month #extrai mês
df['dia'] = df['data'].dt.day #extrai dia
df['hora'] = df['data'].dt.hour #extrai hora

## **Identificando Colunas**

In [ ]:
df = pd.read_csv(arquivo, header = None, skiprows=1) #carregando arquivo sem header
print(df.head()) #vendo arquivo sem colunas nomeadas
df.columns = (['user_id', 'sku_id', 'item', 'descricao_item', 'categoria', # passando headers para o df
       'valor_total', 'formas_pagamento', 'endereco_entrega', 'criado_em',
       'concluido_em', 'criado_ts', 'concluido_ts'])
print(df) #vendo arquivo com colunas nomeadas

     0      1              2               3            4       5   \
0  1051  10044  Produto_10044  liquidificador         casa  342.62
1  1092  10051  Produto_10051         celular  eletrônicos  202.64
2  1014  10079  Produto_10079        camiseta         moda  228.20
3  1071  10049  Produto_10049          tablet  eletrônicos  138.93
4  1060  10007  Produto_10007            sofá         casa  392.03

                                             6   \
0                         ['cartão de crédito']
1                             ['pix', 'boleto']
2            ['2 cartões', 'cartão de crédito']
3  ['cartão de débito', '2 cartões', 'voucher']
4                ['boleto', 'cartão de débito']

                                                  7                        8   \
0  {'estado': 'RJ', 'cidade': 'Belo Horizonte', '...  2024-06-28 05:21:18.620
1  {'estado': 'BA', 'cidade': 'Belo Horizonte', '...  2024-03-29 11:29:10.748
2  {'estado': 'SP', 'cidade': 'Belo Horizonte', '...  2024-01-07 15:36:21.753
3  {'estado': 'BA', 'cidade': 'Porto Alegre', 'ce...  2024-01-24 07:41:07.553
4  {'estado': 'RS', 'cidade': 'Rio de Janeiro', '...  2024-02-28 12:01:02.955

                        9              10             11
0  2024-06-28 06:48:18.620  1719552078620  1719557298620
1  2024-03-29 12:46:10.748  1711711750748  1711716370748
2  2024-01-07 16:11:21.753  1704641781753  1704643881753
3  2024-01-24 07:58:07.553  1706082067553  1706083087553
4  2024-02-28 13:56:02.955  1709121662955  1709128562955
      user_id  sku_id           item  descricao_item    categoria  \
0        1051   10044  Produto_10044  liquidificador         casa
1        1092   10051  Produto_10051         celular  eletrônicos
2        1014   10079  Produto_10079        camiseta         moda
3        1071   10049  Produto_10049          tablet  eletrônicos
4        1060   10007  Produto_10007            sofá         casa
...       ...     ...            ...             ...          ...
2238     1022   10010  Produto_10010           arroz      mercado
2239     1043   10055  Produto_10055         celular  eletrônicos
2240     1037   10050  Produto_10050  liquidificador         casa
2241     1083   10020  Produto_10020            sofá         casa
2242     1022   10098  Produto_10098           tênis         moda

      valor_total                              formas_pagamento  \
0          342.62                         ['cartão de crédito']
1          202.64                             ['pix', 'boleto']
2          228.20            ['2 cartões', 'cartão de crédito']
3          138.93  ['cartão de débito', '2 cartões', 'voucher']
4          392.03                ['boleto', 'cartão de débito']
...           ...                                           ...
2238       298.88                                    ['boleto']
2239       123.43     ['2 cartões', 'pix', 'cartão de crédito']
2240       274.73                                    ['boleto']
2241       100.04                                       ['pix']
2242       151.56            ['2 cartões', 'cartão de crédito']

                                       endereco_entrega  \
0     {'estado': 'RJ', 'cidade': 'Belo Horizonte', '...
1     {'estado': 'BA', 'cidade': 'Belo Horizonte', '...
2     {'estado': 'SP', 'cidade': 'Belo Horizonte', '...
3     {'estado': 'BA', 'cidade': 'Porto Alegre', 'ce...
4     {'estado': 'RS', 'cidade': 'Rio de Janeiro', '...
...                                                 ...
2238  {'estado': 'SP', 'cidade': 'Porto Alegre', 'ce...
2239  {'estado': 'BA', 'cidade': 'Rio de Janeiro', '...
2240  {'estado': 'PR', 'cidade': 'Belo Horizonte', '...
2241  {'estado': 'PR', 'cidade': 'São Paulo', 'cep':...
2242  {'estado': 'BA', 'cidade': 'Salvador', 'cep': ...

                    criado_em             concluido_em      criado_ts  \
0     2024-06-28 05:21:18.620  2024-06-28 06:48:18.620  1719552078620
1     2024-03-29 11:29:10.748  2024-03-29 12:46:10.748  1711711750748
2     2024-01-07 15:36:21.753  2024-01-07 16:11:21.753  1704641781753
3     2024-01-24 07:41:07.553  2024-01-24 07:58:07.553  1706082067553
4     2024-02-28 12:01:02.955  2024-02-28 13:56:02.955  1709121662955
...                       ...                      ...            ...
2238  2024-01-06 01:31:07.657  2024-01-06 05:47:07.657  1704504667657
2239  2024-03-04 22:24:00.069  2024-03-05 02:27:00.069  1709591040069
2240  2024-03-31 12:59:03.226  2024-03-31 17:06:03.226  1711889943226
2241  2024-02-25 22:52:54.443  2024-02-26 00:49:54.443  1708901574443
2242  2024-04-30 03:46:38.290  2024-04-30 04:27:38.290  1714448798290

       concluido_ts
0     1719557298620
1     1711716370748
2     1704643881753
3     1706083087553
4     1709128562955
...             ...
2238  1704520027657
2239  1709605620069
2240  1711904763226
2241  1708908594443
2242  1714451258290

[2243 rows x 12 columns]

## **Alterando Tipos de Dados e Arredondando Valores**

In [ ]:
df['vl_total_str'] = df['valor_total'].astype('object') #transformando coluna de valor em string (object)
df['vl_total_int'] = df['valor_total'].astype('int') #transformando coluna de valor em inteiro
df['novo_valor'] = df['valor_total'].round(1) #arredondando para 1 casa decimal
df['novo_valor_float'] = df['valor_total'].astype('float').round(1) #transformando coluna de valor em float e arredondando com 1 casa decimal
df